.jumbotron {
  padding-top: 6rem;
  background-color: #ffd369;
}
#projects {
  background-color: #393e46;
}

#contact {
  background-color: #ffffff;
}
footer {
  background-color: #222831;
}
section {
  padding-top: 5rem;
}
